* {
    margin: 0%;
    padding: 0
}

body { 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* start header */

.header {
    color: white;
    text-align: center;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/image_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header_box {
    width: 85%;
    margin: 0px auto;
    padding: 300px 0;
}

.header_box p {
    font-size: 55px;
    font-weight: 300;
    margin-top: 50px;
}

.header_link1 {
    background-color: #1a57a5;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border: 3px solid #1a57a5;
    margin-right: 10px;
}

.header_link1:hover {
    background-color: #103463;
    border: 3px solid #103463
}

.header_link2 {
    color: white;
    border: 3px solid white;
    padding: 15px 25px;
    text-decoration: none;
    margin-left: 10px;
}

.header_link2:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

.header_links {
    margin-top: 60px;
}

/* end header */


/* start services */

.services {
    padding: 100px 0;
    padding-left: 90px;
}

.services_box {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.service {
    width: 33%;
}

.services_top_icon {
    font-size: 70px;
    color: #1a57a5;
}

.service>h3 {
    color: #1a57a5;
    font-size: 28px;
    font-weight: bold;
    padding: 28px 0;
}

.service p {
    color: gray;
    width: 75%;
    margin-bottom: 25px;
    line-height: 1.7;
}

.service a {
    color: #1a57a5;
    text-decoration: none;
}

.service a i {
    margin-left: 5px;
    font-size: 13px;
}

.service a:hover i {
    margin-left: 12px;
    transition-duration: 0.5s;
}

/* End Services */


/* start features */

.features {
    background-color: #d6e6f2;
    padding: 100px 0;
}

.features_box {
    width: 90%;
    margin: 0 auto;
}

.sec_top {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.sec_top_title {
    font-size: 38px;
    color: black;
    font-weight: bold;
    display: block;
    width: 52%;
}

.sec_top_line {
    width: 80px;
    height: 3px;
    background-color: #1a57a5;
    display: block;
    margin: 30px 0;
}

.sec_top p {
    color: gray;
    width: 60%;
}

.sec_top_link_blue{
    background-color: #1f60b4;
    color: white;
    padding: 12px 35px;
    text-decoration: none;
    margin-top: 35px;
}

.sec_top_link_blue:hover{
    background-color: #11538d;
}

.feature_item {
    display: flex;
    padding: 40px 0;
    margin: 50px 0;
}

.feature_item_img img {
    width: 85%;
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, 0.5);
}

.feature_item_img {
    width: 55%;
}

.feature_item_info {
    width: 45%;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}

.feature_item_info h4 {
    color: #103463;
    font-size: 35px;
    font-weight: bold;
}

.feature_item_info_text{
    width: 60%;
    padding: 30px 0;
}

.feature_item_info i{
    color: #103463;
    font-size: 20px;
    padding-right: 10px;
  
}

.feature_item_info_text2{
    padding: 5px 0;
}

/* end features */


/* start Plans */

.plans{
    padding: 100px 0;
}

.plans_box{
    width: 75%;
    margin: 0 auto;
}

.plan_items{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.plan_item{
    width: 26%;
    padding:35px 20px;
    border: 1px solid rgb(190, 183, 183);
}

.plan_item_title{
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    display: block;
}

.plan_item_price{
    color: #1a57a5;
    font-size: 52px;
    font-weight: 300;
    display: block;
    text-align: center;
    margin: 30px 0;
}

.plan_item_text{
    color: gray;
    text-align: center;
    margin-bottom: 35px;
}

.plan_item_info i{
    color: #103463;
    font-size: 18px;
    padding-right: 7px;
}

.plan_item_info{
    margin: 12px 0;
    color: #73767c;
}

.plan_item a{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 12px 45px;
    margin: 38px 0;
    display: inline-block;
}

.plan_item_a{
    display: flex;
    justify-content: center;
}

.plan_item a:hover{
    background-color: rgb(59, 56, 56);
}

.plan_item.active{
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, 0.459);
}

.plan_item.active a{
    background-color: #2e6da4;
}

.plan_item.active a:hover{
    background-color:#10538d ;
}

/* End Plans */


/* start Comment */

.comment{
    background-color: #d6e6f2;
    padding: 100px 0;
}

.comment_box{
    width: 75%;
    margin: 0 auto;
}

.comment_items{
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.comment_item{
    background-color: #fff;
    width: 28%;
    padding: 30px;
    border-radius: 3px;
}

.comment_item img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.full_star{
    color: #f79f24;
    font-size: 14px;
}

.star_empty{
    color: rgba(128, 128, 128, 0.486);
    font-size: 14px;
}

.comment_item_stars{
    margin: 15px 0;
}

.comment_item blockquote{
    line-height: 1.7;
    font-style: italic;
    margin: 20px;
}

.comment_item>span{
    color: gray;
}

/* End Comment  */


/* Start Today */

.today{
    padding: 100px 0;
}

.today_box{
    width: 75%;
    margin: 0 auto;
}

.today_img{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 90px 0;
}

.today_img img{
    width: 85%;
}

.today_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.today_item{
    width: 48%;
    padding: 20px 0;
    margin: 15px 0;
}

.today_item_title i{
    color: #1a57a5;
    font-size: 20px;
    padding-right: 13px;
    font-weight: bold;
}

.today_item_title span{
    font-size: 20px;
    font-weight: 500;
}

.today_item_text{
    color: gray;
    margin-top: 20px;
}

/* End Today */


/* Start Join */

.join{
    background-color: #1a57a5;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.join_box{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join_box span{
    font-size: 35px;
    font-weight: 600;
}

.join_box p{
    padding: 30px 0;
    width: 65%;
    color: rgba(255, 255, 255, 0.61);
}

.join_box a{
    text-decoration: none;
    padding: 12px 45px;
    background-color: black;
    color: #fff;
}

.join_box a:hover{
    background-color: rgba(14, 13, 13, 0.945);
}

/* End Join */


/* Start Contact */

.contact{
    background-color: #D6E6F2;
    padding: 70px 0;
}

.contact_box{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
}

.contact_form{
    background-color: #fff;
    width: 45%;
}

.contact_info{
    width: 45%;
}

.contact_form form{
    background-color: #fff;
    padding: 40px 35px;
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, .15);
}

.contact_form_title{
    display: block;
    font-weight: 600;
    margin-bottom: 28px;
    font-size: 30px;
}

.input1{
    display: block;
    padding: 15px 18px;
    margin-bottom: 15px;
    width: 90%;
}

.contact_form textarea{
    display: block;
    padding: 15px 18px;
    margin-bottom: 15px;
    width: 90%;
}

.contact_form_sub_btn{
    padding: 12px 8px;
    background-color: #1a57a5;
    color: white;
    border: none;
    text-align: center;
}


.contact_info_title{
    display: block;
    color: gray;
}

.contact_info_text{
    color: #00000058;
    margin-bottom: 45px;
    display: block;
    width: 59%;
    margin-top: 10px;
}

/* End Contact */


/* Start_Footer */

footer{
    background-color: #1a57a5;
    padding: 70px 0;
}

.footer_box{
    width: 75%;
    margin: 0 auto;
}

.footer_icons{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.footer_icons li a{
    color: rgba(255, 255, 255, .4);
    text-decoration: none;
    font-size: 35px;
    margin: 0 15px;
}

.footer_icons li a:hover{
    color: #fff;
}

.footer_info{
    text-align: center;
    color: white;
}

.footer_info p{
    margin: 10px 0;
}

.footer_info a{
    text-decoration: none;
    color: rgba(255, 255, 255, .4);
}

.footer_info a:hover{
    color: #fff;
}

/* End Footer  */

